.text-input {
  background-color: transparent;
  width: 50%;
  height: 50px;
  border: 1px solid var(--border-color);
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  border-radius: 6px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid var(--border-color);
  padding: 1em;
}

form > button {
  background-color: white;
  width: 33%;
  height: 35px;
  border-radius: 20px;
}

form > h1 {
  color: white;
  font-weight: 400;
  font-family: 'Arial', sans-serif;
  margin: 0px;
}

form > a {
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0px;
  text-decoration: none;
}

#error {
  color: rgb(168, 98, 50);
}
