:root {
    --border-color: #433E3F;
}

#centered-content {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    
}

#post-content-header {
    background-color: #8E6E53;
    flex-basis: 10%;
    border-bottom: 1px solid var(--border-color);
}

#post-content {
    background-color: #7A7265;
    flex-grow: 1;
}