:root {
    --border-color: rgb(199, 211, 235, 0.2);
    --primary-color: #141d26;
    --secondary-color: #141d26;
}

#centered-content {
    
    width: 40vw;
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    
}

#post-content-header {
    background-color: var(--primary-color);
    flex-basis: 10%;
    border-bottom: 1px solid var(--border-color);
}

#post-content {
    background-color: var(--secondary-color);
    flex-grow: 1;
}