#navbar-container {
  display: flex;
  padding: 1em;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
}

#title {
  flex-basis: 80%;
  text-decoration: none;
  color: white;
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
}

#links-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}
