#navbar-container {
    display: flex;
    padding: 1em;
    align-items: center;
}

h2 {
    flex-basis: 80%;
    color: white;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
}

#links-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

svg {

}